<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70215928254-8gircnplt92lnifthq2ru2f2r2jrnemr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70215928254-8gircnplt92lnifthq2ru2f2r2jrnemr</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCx5jaII1pC0WFsfAed88zbO4xsnyhfw</string>
	<key>GCM_SENDER_ID</key>
	<string>70215928254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medibox</string>
	<key>PROJECT_ID</key>
	<string>medibox-45997</string>
	<key>STORAGE_BUCKET</key>
	<string>medibox-45997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70215928254:ios:80c267db2cce68318d51ef</string>
</dict>
</plist>